@import "./font.css";
@import "emissionsDischargesInitialDataCSS/batteryCharging";
/*Remove initial state*/
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  background: none;
  border: none;
}
input{
  border: none;
  outline:0;
  outline-offset: 0
}
/*Universal class*/
.container{
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
.d-grid{
  display: grid;
  &_temp-column-2fr{
    grid-template-columns: 2fr;
  }
  &_temp-column-3fr{
    grid-template-columns: 3fr;
  }
  &_temp-column-4fr{
    grid-template-columns: 4fr;
  }
  &__temp-rows-2fr{
     grid-template-rows: 1fr 1fr;
  }
  &__temp-rows-3fr{
    grid-template-rows: 1fr 1fr 1fr;
  }
  &_center{
    align-items: center;
  }
  &__temp-column-2-1fr{
    grid-template-columns: 1fr 1fr;
  }
}
.d-flex{
  display: flex;
  &_center{
    align-items: center;
    justify-content: center;
  }
}
.color{
  &_red{
    color: red;
  }
}
.text-align_center{
  text-align: center;
}
.initialData{
  height: calc(100vh - 120px);
  background: #fff;
  padding: 50px 0;
}

.header{
  max-height: 120px;
  height: 100%;
  padding-top: 15px;
  color: #31b7e3;
  background: url("../image/background/raketa.jpg") no-repeat center/cover;
  &__container{
    max-width: 1550px;
    width: 100%;
  }
  &__location{
    display: flex;
    justify-content: space-between;
  }
  &__button{
    cursor: pointer;
    font-size: 16px;
    color: #31b7e3;
    border: none;
  }
  &__dropdown{
    float: left;
    overflow: hidden;
    margin-right: 10px;
  }
  &__link{
    float: none;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    &:hover{
      background-color: #ddd;
    }
  }
  &__homepages{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #FFF;
  }
  &__home{
    padding: 45px 153px 26px;
  }
}
.header__dropdown:hover .header__homepages{
  display: flex;
}
.main{
  &__bot{
    display: flex;
    justify-content: space-between;
  }
}
.menu{
  margin-top: 45px;
  background: #fff;
  &_discharge{
    padding: 50px 0;
    background: #fff;
  }
  &__link{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5px;
    padding: 7px 22px;
    border-radius: 5px;
    color: #28ceeb;
    &.active {
      background: #0f2263 no-repeat center/cover;
    }
  }
  &__block{
    padding-top: 31px;
  }
  &__fuel{
    background: #fff;
    padding-top: 50px;
  }
}
.tools img{
  width: 30px;
  height: 30px;
}
.tools{
  &__nav{
    display: flex;
    justify-content: space-around;
  }
  &__img{
    height: 40px;
    width: 40px;
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover img{
      height: 40px;
      width: 40px;
      transition: 0.4s;
    }
    &:hover{
      background: #dedcdc;
      border-radius: 5px;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    text-align: center;
    padding: 0 3px;
  }
  &__ecology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    grid-row-gap: 5px;
    align-items: center;
    &-flex{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover img{
        height: 40px;
        width: 40px;
        transition: 0.4s;
      }
      &:hover{
        background: #dedcdc;
        border-radius: 5px;
      }
    }
  }
}

.ecology span{
  padding: 5px 0 0;
  font-size: 16px;
  line-height: 20px;
}
.auth{
  height: 100vh;
  width: 100%;
  padding-right: 155px;
  display: flex;
  align-items: center;
  justify-content: right;
  background: url("../image/background/authLow.jpg") no-repeat center/cover;
  &__form{
    display: flex;
    border: none;
    flex-direction: column;
    padding: 115px 23px;
    background: #cdced0;
    width: 373px;
    height: 623px;
    border-radius: 15px;
    & img{
      width: 15px;
      height: 15px;
    }
  }
  &__label{
    position: relative;
  }
  &__log, &__pass{
    position: relative;
    top: 36px;
    left: 10px;
  }
  &__clear{
    position: absolute;
    top: 36px;
    right: 25px;
    cursor: pointer;
  }
  &__title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 45px;
    color: #000;
  }
  &__input{
    height: 50px;
    width: 312px;
    padding: 20px 0 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    color: #7d7ad9;
    margin-bottom: 16px;
    cursor: text;
    &::placeholder{
      font-size: 20px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  &__btn{
    cursor: pointer;
    background: #6081fb;
    height: 50px;
    width: 312px;
    border-radius: 10px;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    color: #fff;
    margin-top: 10px;
  }
}

.message img{
  width: 35px;
  height: 35px;
}
.message{
  display: flex;
  align-items: start;
  text-align: center;
  background: url("../image/background/cup.png") no-repeat center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.process{
  padding: 20px;
}

.fuel{
  background: #fff;
  &__grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  &__block{
    margin-top: 50px;
    grid-template-columns: 1.5fr 0.5fr 2.2fr 1.5fr 0.7fr 3fr;
  }
  &__kc-work{
      grid-template-rows: 3fr 1fr 2fr;
  }
  &__azc{
      grid-template-rows: 1fr 1fr 1fr 1fr 2fr 3fr 1fr;
  }
  &__gild{
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr 1fr;
  }
  &__link{
    padding: 3px;
    box-shadow: -1px 2px 8px 4px rgba(34, 60, 80, 0.2);
    width: 95%;
    border-radius: 10px;
  }
  &__main-title{
    text-align: center;
  }
  &__title-value{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    padding: 5px;
    height: 126px;
    display: flex;
    align-items: center;
    background: #d7dcdcab;
  }
  &__sub-value {
    background: #d7dcdc14;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    line-height: 14px;
    padding: 5px;
  }
  &__name-production, &__pollution-source-number, &__name-source-selection, &__types, &__density, &__limits {
    border: 1px solid #000;
  }
  &_height-40{
    height: 40px;
  }
  &_height-80{
    height: 80px;
  }
  &_height-120{
    height: 120px;
  }
  &_height-240{
    height: 240px;
  }
  &_height-400{
    height: 400px;
  }
  &__title-density{
    height: 63px;
    justify-content: center;
  }
  &__limits-title{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  &_border-top{
    border-top: 1px solid #000;
  }
  &_border-right{
    border-right: 1px solid #000;
  }
  &__limits{
    &-bot{
      height: 62.5px;
      padding-top: 5px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      margin-top: 0.5px;
      background: #d7dcdcab;
    }
    &-top{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 62.5px;
      background: #d7dcdcab;
    }
    &_m3-input, &_kg-input, &_SecondYear-input{
      width: 89.86px;
    }
    &_year-input{
      width: 134.8px;
    }
    &-cube, &-kg, &-secondYear, &-month{
      width: 89.95px;
      border-top: 1px solid #000;
      text-align: center;
      background: aliceblue;
      color: blue;
      &::placeholder{
        font-size: 10px;
        text-align: center;
      }
    }
    &-year{
      color: blue;
      width: 134.41px;
      background: aliceblue;
      border-top: 1px solid #000;
      text-align: center;
      &::placeholder{
        font-size: 10px;
        text-align: center;
      }
    }
  }
  &__expenses{
    grid-template-columns: 1.5fr 3fr;
    align-items: center;
    &-title{
      font-size: 13px;
      color: #000;
      line-height: 15px;
      text-align: center;
      padding: 0 5px;
    }

  }
  &__unit{
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    border-top: 1px solid #000;
    &-title{
      font-size: 13px;
      color: #000;
      line-height: 14px;
      text-align: center;
      padding: 9px 5px 0 5px;
    }
  }
  &__unit_grid{
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  }
  &__number{
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
  &__number_grid{
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  }
  &__menu{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
  }
  &__total{
    padding-top: 30px;
    &-field{
      display: flex;
      flex-direction: column;
      align-items: end;
      background: #ccc2b3;
      padding-top: 10px;
    }
    &-sub{
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 14px;
      color: #000;
      font-weight: 400;
      padding-right: 10px;
    }
    &-numbers{
      grid-template-columns: 1fr 1fr 1fr;
      background: #d0bcbe;
      padding-top: 10px;
    }
    &-value{
      font-size: 13px;
      line-height: 14px;
      color: #000;
      font-weight: 400;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
.fuel img{
  width: 30px;
}
.fuel__total .d-grid__temp-column-2-1fr{
    grid-template-columns: 3.90fr 1fr;
}