@import "./font.css";
/*Remove initial state*/
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  background: none;
  border: none;
}
/*Universal class*/
.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.header{
  max-height: 120px;
  height: 100%;
  padding-top: 15px;
  color: #31b7e3;
  background: url("../image/background/raketa.jpg") no-repeat center/cover;
  &__container{
    max-width: 1550px;
    width: 100%;
  }
  &__location{
    display: flex;
    justify-content: space-between;
  }
  &__button{
    cursor: pointer;
    font-size: 16px;
    color: #31b7e3;
    border: none;
  }
  &__dropdown{
    float: left;
    overflow: hidden;
    margin-right: 10px;
  }
  &__link{
    float: none;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    &:hover{
      background-color: #ddd;
    }
  }
  &__homepages{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #FFF;
  }
  &__home{
    padding: 45px 153px 26px;
  }
}
.header__dropdown:hover .header__homepages{
  display: flex;
}
.main{
  &__bot{
    display: flex;
    justify-content: space-between;
  }
}
.menu{
  margin-top: 10px;
  background: #fff;
  &__link{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #28ceeb;
  }
  &__active{
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5px;
    color: #fff;
    background: url("../image/background/cosmos_bc_links.jpg") no-repeat center/cover;
  }
  &__block{
    padding-top: 31px;
  }
}
.tools img{
  width: 30px;
  height: 30px;
}
.tools{
  &__nav{
    display: flex;
    justify-content: space-around;
  }
  &__img{
    height: 40px;
    width: 40px;
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover img{
      height: 40px;
      width: 40px;
      transition: 0.4s;
    }
    &:hover{
      background: #dedcdc;
      border-radius: 5px;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    text-align: center;
    padding: 0 3px;
  }
  &__ecology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    grid-row-gap: 5px;
  }
}

.ecology span{
  padding: 5px 0 0;
  font-size: 16px;
  line-height: 20px;
}
.auth{
  height: 100vh;
  width: 100%;
  padding-right: 155px;
  display: flex;
  align-items: center;
  justify-content: right;
  background: url("../image/background/authLow.jpg") no-repeat center/cover;
  &__form{
    display: flex;
    border: none;
    flex-direction: column;
    padding: 115px 23px;
    background: #cdced0;
    width: 373px;
    height: 623px;
    border-radius: 15px;
    & img{
      width: 15px;
      height: 15px;
    }
  }
  &__label{
    position: relative;
  }
  &__log, &__pass{
    position: relative;
    top: 36px;
    left: 10px;
  }
  &__clear{
    position: absolute;
    top: 36px;
    right: 25px;
    cursor: pointer;
  }
  &__title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 45px;
    color: #000;
  }
  &__input{
    height: 50px;
    width: 312px;
    padding: 20px 0 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    color: #7d7ad9;
    margin-bottom: 16px;
    cursor: text;
    &::placeholder{
      font-size: 20px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  &__btn{
    cursor: pointer;
    background: #6081fb;
    height: 50px;
    width: 312px;
    border-radius: 10px;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    color: #fff;
    margin-top: 10px;
  }
}

.message img{
  width: 35px;
  height: 35px;
}
.message{
  display: flex;
  align-items: start;
  text-align: center;
  background: url("../image/background/cup.png") no-repeat center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.process{
  padding: 20px;
}