@import "./font.css";
/*Remove initial state*/
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  background: none;
  border: none;
}
input{
  border: none;
  outline:0;
  outline-offset: 0
}
/*Universal class*/
.container{
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
.d-grid{
  display: grid;
  &_temp-column-2fr{
    grid-template-columns: 2fr;
  }
  &_temp-column-3fr{
    grid-template-columns: 3fr;
  }
  &_temp-column-4fr{
    grid-template-columns: 4fr;
  }
  &_center{
    align-items: center;
  }
  &_space-between{

  }
}
.d-flex{
  display: flex;
  &_center{
    align-items: center;
    justify-content: center;
  }
}
.color{
  &_red{
    color: red;
  }
}

.header{
  max-height: 120px;
  height: 100%;
  padding-top: 15px;
  color: #31b7e3;
  background: url("../image/background/raketa.jpg") no-repeat center/cover;
  &__container{
    max-width: 1550px;
    width: 100%;
  }
  &__location{
    display: flex;
    justify-content: space-between;
  }
  &__button{
    cursor: pointer;
    font-size: 16px;
    color: #31b7e3;
    border: none;
  }
  &__dropdown{
    float: left;
    overflow: hidden;
    margin-right: 10px;
  }
  &__link{
    float: none;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    &:hover{
      background-color: #ddd;
    }
  }
  &__homepages{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #FFF;
  }
  &__home{
    padding: 45px 153px 26px;
  }
}
.header__dropdown:hover .header__homepages{
  display: flex;
}
.main{
  &__bot{
    display: flex;
    justify-content: space-between;
  }
}
.menu{
  margin-top: 45px;
  background: #fff;
  &_discharge{
    padding: 50px 0;
    background: #fff;
  }
  &__link{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5px;
    padding: 7px 22px;
    border-radius: 5px;
    color: #28ceeb;
    &.active {
      background: #0f2263 no-repeat center/cover;
    }
  }
  &__block{
    padding-top: 31px;
  }
}
.tools img{
  width: 30px;
  height: 30px;
}
.tools{
  &__nav{
    display: flex;
    justify-content: space-around;
  }
  &__img{
    height: 40px;
    width: 40px;
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover img{
      height: 40px;
      width: 40px;
      transition: 0.4s;
    }
    &:hover{
      background: #dedcdc;
      border-radius: 5px;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    text-align: center;
    padding: 0 3px;
  }
  &__ecology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    grid-row-gap: 5px;
    align-items: center;
    &-flex{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover img{
        height: 40px;
        width: 40px;
        transition: 0.4s;
      }
      &:hover{
        background: #dedcdc;
        border-radius: 5px;
      }
    }
  }
}

.ecology span{
  padding: 5px 0 0;
  font-size: 16px;
  line-height: 20px;
}
.auth{
  height: 100vh;
  width: 100%;
  padding-right: 155px;
  display: flex;
  align-items: center;
  justify-content: right;
  background: url("../image/background/authLow.jpg") no-repeat center/cover;
  &__form{
    display: flex;
    border: none;
    flex-direction: column;
    padding: 115px 23px;
    background: #cdced0;
    width: 373px;
    height: 623px;
    border-radius: 15px;
    & img{
      width: 15px;
      height: 15px;
    }
  }
  &__label{
    position: relative;
  }
  &__log, &__pass{
    position: relative;
    top: 36px;
    left: 10px;
  }
  &__clear{
    position: absolute;
    top: 36px;
    right: 25px;
    cursor: pointer;
  }
  &__title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 45px;
    color: #000;
  }
  &__input{
    height: 50px;
    width: 312px;
    padding: 20px 0 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    color: #7d7ad9;
    margin-bottom: 16px;
    cursor: text;
    &::placeholder{
      font-size: 20px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  &__btn{
    cursor: pointer;
    background: #6081fb;
    height: 50px;
    width: 312px;
    border-radius: 10px;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    color: #fff;
    margin-top: 10px;
  }
}

.message img{
  width: 35px;
  height: 35px;
}
.message{
  display: flex;
  align-items: start;
  text-align: center;
  background: url("../image/background/cup.png") no-repeat center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.process{
  padding: 20px;
}
.battery-charge{
  &__main-title{
    text-align: center;
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
  }
  &__link{
    position: relative;
    font-size: 24px;
    color: #0924b1;
    line-height: 20px;
    padding: 5px;
    &.active{
      color: #000c56;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        background: #0f2263;
      }
    }
    &:hover{
      transition: 0.4s;
      color: #000c56;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        background: #0f2263;
      }
    }
    &.battery-charge__link_active{
      background: #5765bb;
    }
  }
  &__block{
    margin-top: 50px;
    grid-template-columns: 3fr 2fr 4fr 10fr;

  }
  &__sub_height75{
    height: 75px;
  }
  &__sub-value{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    background: #a1e6e878;
    font-weight: 400;
    border-bottom: 1px solid #000;
    padding: 5px;
  }
  &__title-value{
    font-size: 16px;
    line-height: 26px;
    height: 152px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #abf7fb;
    border-bottom: 1px solid;
  }
  &__first{
    height: 150px;
  }
  &__second{
    height: 100px;
  }
  &__third{
    height: 100px;
  }
  &__fourth{
    height: 250px;
  }
  &__name-production, &__pollution-source-number, &__name-source-selection{
    border: 1px solid #000;
    border-top: 2px solid #000;
  }
  &__annual-limit{
    &-brands{
      border: 1px solid #000;
      background: #abf7fb;
    }
    &_sub{
      text-align: center;
      height: 89px;
      line-height: 18px;
      font-size: 14px;
      border: 1px solid #000;
      background: #abf7fb;
      padding: 2px;
    }
    &_unit{
      text-align: center;
      line-height: 20px;
      font-size: 17px;
      border: 1px solid #000;
      background: #abf7fb;
    }
    &-title{
      text-align: center;
      font-size: 20px;
      line-height: 40px;
      border: 1px solid #000;
      background: #abf7fb;
    }
    &-bot{
      grid-template-columns: 4fr 2fr 2fr 2fr;
      height: 111px;
    }
    &_low{
      grid-template-columns: 4fr 2fr 2fr 2fr;
      color: red;
      &-first, &-second, &-third, &-fourth{
        border: 1px solid #000;
      }
    }
  }

}
.dischargeForm{
  &__form{
    display: flex;
    align-items: start;
  }
  &__date{
    margin-right: 50px;
    width: 149px;
    height: 40px;
    border-radius: 5px;
    color: #4688de;
    font-size: 20px;
  }
  &__send-form{
    width: 240px;
    height: 58px;
    background: #a3a3a3c9;
    border-radius: 20px;
    font-size: 25px;
    color: #000;
    font-weight: 500;
  }
  &__equipment-time{
    display: flex;
  }
  &__month{
    &-input{
      border-bottom: 1px solid #000;
      font-size: 19px;
      font-weight: 500;
      color: blue;
      text-align: center;
      width: 100%;
      height: 100%;
      background: aliceblue;
    }
  }
  &__work{
    &-time{
      display: flex;
      flex-direction: column;
    }
    &-inputs{
      display: flex;
      flex-direction: column;
    }
    &-input{
      height: 30px;
      width: 100px;
      border: none;
      background: #f7f7f78a;
      font-size: 15px;
      padding: 16px;
    }
  }
  &__send-button{
    display: flex;
    margin-top: 50px;
    justify-content: end;
  }
}
.dischargeForm .battery-charge__annual-limit-bot{
    grid-template-columns: 2fr 2fr 2fr;
}
.dischargeForm .battery-charge__annual-limit_low{
  grid-template-columns: 2fr 2fr 2fr;
}

.quarterReport{
  &__bot-line{
    display: block;
    height: 100px;
    border-bottom: 1px solid #000;
  }
  &__title{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color: blueviolet;
    font-size: 30px;
  }
}
.quarterReport .battery-charge__annual-limit-bot{
  grid-template-columns: 2fr 2fr 2fr;
}
.quarterReport .battery-charge__annual-limit_low{
  grid-template-columns: 2fr 2fr 2fr;
}
.quarterReport .dischargeForm__month-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.yearReport{
  &__flex{
    display: flex;
    margin-top: 50px;
  }
  &_width-160{
    width: 160px;
  }
  &__batteries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  }
  &__number-quarter {
    font-size: 16px;
    line-height: 26px;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #8a95f2;
    border-bottom: 1px solid;
  }
  &__sub-value{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
  }
  &__first-quarter{
    background: #b4c7f2;
  }
  &__second-quarter{
    background: #bbffdf;
  }
  &__third-quarter{
    background: #f0b2b6;
  }
  &__fourth-quarter{
    background: #dad7ad;
  }
  &__year{
    background: #77c8e0;
  }
}
.yearReport .battery-charge__sub-value{
  font-size: 13px;
}
.yearReport .battery-charge__title-value{
  font-size: 15px;
}